body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(114, 114, 172);
}

div{
    margin: auto;
    background-color: green;
    width: 400px;
    height: 100%px;
    margin-top: 20px;
}

h1{
    color: green;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    padding-top: 40px;
}

header{
    background-color: white;
    height: 150px;
    width: 400px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    margin-left: 200px;
    margin-top: -45px;
}

img{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
}

#loupe{
    height: 25px;
    width: 25px;
}

button{
    border: none;
    background-color: white;
    cursor: pointer;
}

#people{
    height: 30px;
    width: 30px;
    margin-top: 42px;
    margin-left: 25px;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    padding-left: 30px;
    margin-top: -40px;
}

h2{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: green;
    cursor: pointer;
}

h2:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

@media (max-width:768px){
    div{
        margin: auto;
        background-color: green;
    }
}
